<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/4487f42ddb.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <title>Skill Data</title>
</head>
<body class="text-bg-secondary">
  <div class="container ps-5 pt-5">
    <h1>Skill Details</h1>
    <h2>Skill ID: <span class="border border-white"><%= skill._id %></span></h2>
    <h3>Name: <span class="border border-white"><%= skill.name %></span> </h3>
    <h3>Docs Location: <span class="border border-white"><%= skill.url %></span> </h3>
    <h3>Skill Font-Awesome Code: <span class="border border-white"><%= skill.falogo %></span></h3>
    <form action="/skills/<%= skill._id %>?_method=DELETE" method="POST">
      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn btn-outline-danger text-white border-white my-3 w-100">Delete Skill</button>
        </div>
        <div class="col">
          <a href="/skills/<%= skill._id %>/edit" type="button" class="btn btn-outline-light mt-3 mb-3 w-100">Edit</a>
        </div>
        <div class="col">
          <a href="/skills" type="button" class="btn btn-outline-light mt-3 mb-3 w-100">Return To List</a>
        </div>
      </div>
  </form>
  </div>
</body>
</html>